/* Every element's size calculations will include padding and borders */
html {
    box-sizing: border-box;
}

/* All text will be of the font Calibri */
body {
    font-family: Calibri, Roboto, sans-serif;
}

#page-banner {
    position: fixed;
    min-height: 25vh;

    margin: auto;
    width: 100%;
    text-align: center;

    border-style: solid;
    border-color: black;

    background-color: aqua;
}

section {
    padding-top: 40vh;
}

header + section {
    padding-top: 25vh;
}

#skills-interests {
    padding-bottom: 15vh;
}

.resume-section {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.section-wrapper {
    float: left;
    width: 50%;
}