/* Every element's size calculations will include padding and borders */
html {
    box-sizing: border-box;
}

/* Sets default font, margin, and background color */
body {
    margin: 0;

    font-family: Quicksand, sans-serif;

    background-color:#C2EEE9;
}

/* Creates a fixed page banner */
#page-banner {
    position: fixed;
    min-height: 40vh;

    margin: auto;
    width: 100%;
    text-align: center;

    background-color: #487995;
    color: white;
}

/* Creates a horizontal navigation bar */ 
#navigation {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #487995;
}

.link {
    float: left;
}

.link a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.link a:hover {
    background-color: #243C4A;
}

/* Adds padding to sections in order to create some space */
section {
    padding-top: 45vh;

    max-height: 40vh;
}

#skills-interests {
    padding-bottom: 45vh;
}

/* Adds borders to the sections */
.section-header {
    padding-top: 3vh;

    font-family: 'Segoe UI', sans-serif;

    border-top-style: solid;
    border-top-width: thin;
    border-top-color: black;
}

/* Put some of the sections side-by-side */
.section-wrapper {
    float: left;
    width: 50%;
}