:root {
    --banner-size: 12em;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Calibri, Roboto, sans-serif;
}

#page-banner {
    position: fixed;
    min-height: var(--banner-size);

    margin: auto;
    width: 100%;
    text-align: center;

    border-style: solid;
    border-color: black;

    background-color: aqua;
}

section {
    padding-top: 27em;
}

header + section {
    padding-top: var(--banner-size);
}

#skills-interests {
    padding-bottom: 8em;
}